# export GOOGLE_API_KEY=your_real_key_here
# export GOOGLE_GENAI_USE_VERTEXAI=False
# sau puse direct in .env pt ca docker stie sa le ia de acolo

# docker compse up --build
# sau daca nu vrem sa faca si build doar:
# docker compose up -d

services:
  backend:
    image: andreimihai/sql-teacher-backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: sql-teacher-backend
    ports:
      - "8082:8080"
    environment:
      # Le citeste din env (sau din .env file)
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      GOOGLE_GENAI_USE_VERTEXAI: ${GOOGLE_GENAI_USE_VERTEXAI}
      SESSION_DB: /storage/session.db
    volumes:
      - /tmp/storage:/storage
      - ./logs/:/app/logs/
    networks:
      - sql-teacher-network

  frontend:
    image: andreimihai/sql-teacher-frontend
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: sql-teacher-frontend
    ports:
      - "8501:8501"
    environment:
      # Atentie: aici trebuie pus numele serviciului de backend si portul INTERN al serviciului
      BASE_URL: "http://sql-teacher-backend:8080"
    volumes:
      - ./logs/:/app/logs/
    depends_on:
      - backend
    networks:
      - sql-teacher-network
    
  nginx:
    image: nginx:1.29.4-alpine3.23
    container_name: sql-teacher-nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/conf.d/itschool.org.ro.conf:/tmp/nginx/conf.d/itschool.org.ro.conf:ro
      - ./nginx/conf.d/amihai.ro.conf:/tmp/nginx/conf.d/amihai.ro.conf:ro
      - ./nginx/docker-entrypoint.d/05-add-ssl-config.sh:/docker-entrypoint.d/05-add-ssl-config.sh:ro
    networks:
      - sql-teacher-network

networks:
  sql-teacher-network:
    driver: bridge