# export GOOGLE_API_KEY=your_real_key_here
# export GOOGLE_GENAI_USE_VERTEXAI=False
# sau puse direct in .env pt ca docker stie sa le ia de acolo

# docker compse up --build
# sau daca nu vrem sa faca si build doar:
# docker compose up -d

services:
  backend:
    image: andreimihai/sql-teacher-backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: sql-teacher-backend
    ports:
      - "8082:8080"
    environment:
      # Le citeste din env (sau din .env file)
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      GOOGLE_GENAI_USE_VERTEXAI: ${GOOGLE_GENAI_USE_VERTEXAI}
      SESSION_DB: /storage/session.db
    volumes:
      - /tmp/storage:/storage
    networks:
      - sql-teacher-network

  frontend:
    image: andreimihai/sql-teacher-frontend
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: sql-teacher-frontend
    ports:
      - "8501:8501"
      - "80:8501"
    environment:
      # Atentie: aici trebuie pus numele serviciului de backend si portul INTERN al serviciului
      BASE_URL: "http://sql-teacher-backend:8080"
    depends_on:
      - backend
    networks:
      - sql-teacher-network

networks:
  sql-teacher-network:
    driver: bridge
