- name: Deploy platforma de monitorizare
  hosts: all
  become: true

  vars:
    install_dir: "/home/{{ ansible_user }}/sql-teacher"

  tasks:
    - name: Creeaza directorul proiectului
      file:
        path: "{{ install_dir }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
    
    - name: Create .env file
      template:
        src: .env.j2
        dest: "{{ install_dir }}/.env"
        mode: '0600'
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Creeaza directorul de storage sesiuni
      file:
        path: "/tmp/storage"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Creeaza directorul de nginx config
      file:
        path: "{{ install_dir }}/nginx/"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Creeaza directorul de nginx config.d
      file:
        path: "{{ install_dir }}/nginx/conf.d/"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
    
    - name: Creeaza directorul docker-entrypoint.d
      file:
        path: "{{ install_dir }}/nginx/docker-entrypoint.d/"
        state: directory
        owner: "{{ ansible_user }}" 
        group: "{{ ansible_user }}"

    - name: Creeaza directorul de loguri
      file:
        path: "{{ install_dir }}/logs/"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Copiaza compose.yml
      copy:
        src: "../../compose.yaml"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/compose.yml"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
    
    - name: Copiaza nginx Config file
      copy:
        src: "../../nginx/default.conf"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/nginx/default.conf"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
    
    - name: Copiaza nginx itschool.org.ro.conf files  
      copy:
        src: "../../nginx/conf.d/itschool.org.ro.conf"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/nginx/conf.d/itschool.org.ro.conf"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'

    - name: Copiaza nginx amihai.ro.conf files  
      copy:
        src: "../../nginx/conf.d/amihai.ro.conf"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/nginx/conf.d/amihai.ro.conf"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'

    - name: Copiaza nginx stage.itschool.org.ro.conf files  
      copy:
        src: "../../nginx/conf.d/stage.itschool.org.ro.conf"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/nginx/conf.d/stage.itschool.org.ro.conf"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'

    - name: Copiaza nginx dev.itschool.org.ro.conf files  
      copy:
        src: "../../nginx/conf.d/dev.itschool.org.ro.conf"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/nginx/conf.d/dev.itschool.org.ro.conf"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'

    - name: Copiaza nginx add-ssl-config script
      copy:
        src: "../../nginx/docker-entrypoint.d/05-add-ssl-config.sh"  # cale relativa din ansible/playbooks/
        dest: "{{ install_dir }}/nginx/docker-entrypoint.d/05-add-ssl-config.sh"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Ruleaza docker compose
      command: "sudo docker compose -f {{ install_dir }}/compose.yml up -d --pull always"    
