- name: Stop Sql Teacher agents
  hosts: all
  become: true

  vars:
    install_dir: "/home/{{ ansible_user }}/sql-teacher"

  tasks:
    - name: Ruleaza docker compose down
      command: "docker compose -f {{ install_dir }}/compose.yml down"